
body {
    height: 100%;
    background-color: pink;
    width: 100%;
    background-image: url("../imagem/fundo.png");
    background-repeat: no-repeat;
    background-position: top;
  
    
}
ul{
  list-style: none;  
}    

#Botao1,
#inicio,
#qtd,
#fim,
#lista,
#titulo
{
    color: blue;
    margin-left: 25%;
    margin-right:30%;
    width: 25%;
    font-size: 150%;
    border-radius: 10px;
    text-align: center;
    background-color: navajowhite;
    font-style: oblique;
    font-weight: bold;
}
#Botao1{
    background-color: navy;
    color: navajowhite;
}
#Botao1:hover{
    color: blue;
    background-color: navajowhite;
    cursor: pointer;
}